.zsh_history
.bash_history
.viminfo
*mozilla*
.cache/
.claude*

.config/go/
.config/pulse/
.config/gtk*
.config/git
.config/Nextcloud
.config/QtProject.conf
.config/autostart/
.config/eas-cli-nodejs/
.config/gh/
.config/nwg-look/
.config/xsettingsd/

.expo/
.zcompdump
Downloads/
Nextcloud/
Repository/

.gtk*
.npm
.nvm

.gnupg/
.local/
.pki/
.pulse-cookie
.steam/
.steampath
.steampid
