output "HDMI-A-1" {
    mode "1920x1080"
    scale 1.00
    transform "normal"
    position x=0 y=0
}

output "eDP-1" {
    mode "1920x1080"
    scale 1.20
    transform "normal"
    position x=1920 y=0
}
