// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

include "modules/animations.kdl"
include "modules/autostart.kdl"
include "modules/binds.kdl"
//include "modules/colors.kdl"
include "modules/environment.kdl"
include "modules/input.kdl"
include "modules/layout.kdl"
include "modules/misc.kdl"
include "modules/windows.kdl"
include "modules/outputs.kdl"
